.disabled {
	display: none !important;
}

.shapes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.shape {
	max-width: 350px;
	padding: 6px 10px;
	margin: 5px;
	
	border: 1px solid var(--accent-color);
	border-radius: 5px;

	display: flex;
	flex-direction: column;
}

.shape-title {
	font-size: 32px;
	font-weight: 700;

	margin-bottom: auto;
}

.shape-thumbnail {
	width: 100%;
	aspect-ratio: 1;
}

.shape-tool {
	display: flex;
	justify-content: space-between;
}

.shape-tool p {
	margin: 0;
}

/* in the article */

.shape-side-panel {
	display: flex;
    min-height: 500px;
}

.p5Canvas {
	width: 100% !important;
	height: unset !important;
	aspect-ratio: 1;
}

@media (max-width: 1300px) {
	.shape {
		width: calc(50% - 40px);
	}
}

@media (max-width: 1200px) {
	.shape-side-panel {
		min-width: 250px;
	}
}

@media (max-width: 700px) {
	.shape {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		width: unset;
	}

	.shape-side-panel {
		flex-direction: column;
	}
}