.article-card {
	display: flex;
	margin-bottom: 15px;
}

.article-card-thumb {
	display: block;
	
	width: 240px;
	aspect-ratio: auto 16 / 9;
	
	margin: 0;
	margin-right: 15px;

    border-radius: 5px;
}

.article-card-text {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 750px;
	margin-top: 5px;
}

.article-card-text-link {
	text-decoration: none;
}

.article-card-text-link:hover {
	text-decoration: underline;
}

.article-card-text-date {
	margin: 0 0 0 0;
	font-size: 18px;
}

.article-cards-separator {
	width: 50%;
	border: none;
	border-top: 1px solid var(--accent-color);
	margin: 40px auto;

}

@media (max-width: 400px) {
	.article-card {
		display: block;
	}

	.article-card-thumb {
		--size: 100%;
	}
}