/* CPP */

.cpp .code-w { color: #dadada; }
.cpp .code-s { color: #b4b4b4; }
.cpp .code-a { color: #9a9a9a; }
.cpp .code-n { color: #c8c8c8; }
.cpp .code-v { color: #9cdcfe; }
.cpp .code-c { color: #57a64a; }
.cpp .code-r { color: #569cd6; }
.cpp .code-j { color: #d8a0df; }
.cpp .code-t { color: #4ec9b0; }
.cpp .code-f { color: #dcdcaa; }
.cpp .code-d { color: #b5cea8; }
.cpp .code-p { color: #beb7ff; }
.cpp .code-l { color: #d69d85; }
.cpp .code-q { color: #d69d85; }

[color-theme="light"] .cpp .code-w { color: black; }
[color-theme="light"] .cpp .code-s { color: black; }
[color-theme="light"] .cpp .code-a { color: gray; }
[color-theme="light"] .cpp .code-n { color: black; }
[color-theme="light"] .cpp .code-v { color: #1f377f;  }
[color-theme="light"] .cpp .code-c { color: green; }
[color-theme="light"] .cpp .code-r { color: blue; }
[color-theme="light"] .cpp .code-j { color: #8f08c4;  }
[color-theme="light"] .cpp .code-t { color: #2b91af;  }
[color-theme="light"] .cpp .code-f { color: #74531f;  }
[color-theme="light"] .cpp .code-d { color: black; }
[color-theme="light"] .cpp .code-p { color: #8a1bff;  }
[color-theme="light"] .cpp .code-l { color: #a31515;  }
[color-theme="light"] .cpp .code-q { color: #e21f1f;  }

/* Processing */

.processing {
	background: white;
	font-family: "Source Code Pro", Consolas, 'Courier New', monospace;
}

.processing .code-w { color: black; }
.processing .code-s { color: black; }
.processing .code-a { color: black; }
.processing .code-v { color: black; }
.processing .code-c { color: green; }
.processing .code-r { color: #33997E; }
.processing .code-j { color: #669900; }
.processing .code-t { color: #E2661A; }
.processing .code-f { color: #006699; }
.processing .code-d { color: black; }
.processing .code-p { color: #D94A7A; }
.processing .code-l { color: #7D4793; }
.processing .code-q { color: #7D4793; }
.processing .code-m { color: #006699; font-weight: bold; }

/* Javascript */

.javascript .code-w { color: #dadada; }
.javascript .code-s { color: #b4b4b4; }
.javascript .code-a { color: #9a9a9a; }
.javascript .code-v { color: #9cdcfe; }
.javascript .code-c { color: #57a64a; }
.javascript .code-r { color: #569cd6; }
.javascript .code-j { color: #d8a0df; }
.javascript .code-t { color: #4ec9b0; }
.javascript .code-f { color: #dcdcaa; }
.javascript .code-d { color: #B5CEA8; }
.javascript .code-p { color: #569CD6; }
.javascript .code-l { color: #d69d85; }
.javascript .code-q { color: #d69d85; }

[color-theme="light"] .javascript .code-w { color: black; }
[color-theme="light"] .javascript .code-s { color: black; }
[color-theme="light"] .javascript .code-a { color: gray; }
[color-theme="light"] .javascript .code-v { color: #1F377F;  }
[color-theme="light"] .javascript .code-c { color: green; }
[color-theme="light"] .javascript .code-r { color: blue; }
[color-theme="light"] .javascript .code-j { color: #8f08c4;  }
[color-theme="light"] .javascript .code-t { color: #2b91af;  }
[color-theme="light"] .javascript .code-f { color: #74531f;  }
[color-theme="light"] .javascript .code-d { color: #098658; }
[color-theme="light"] .javascript .code-p { color: blue;  }
[color-theme="light"] .javascript .code-l { color: #a31515;  }
[color-theme="light"] .javascript .code-q { color: #e21f1f;  }